* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background: black;
}

.clear {
    clear: both;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo i {
    font-size: 70px;
    float: left;
}

.logoC i {
    font-size: 70px;
}

.logoC a {
    text-decoration: none;
    color: black;
}

.logoC{
    text-align: center;
}


header ul {
    float: right;
}

header li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 30px;
}

header li a {
    text-decoration: none;
    color: black;
}

header li a:hover {
    text-decoration: underline;
}

header {
    background-color: #fafafa;
}

/* content-about */

.bg-color {
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 600px;
}

.background {
    background-image: url('../assets/images/image1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
}

.txt p {
    position: relative;
    top: 110px;
    color: white;
    font-size: 25px;
}

/* services */

.container-service {
    width: 100%;
    background: white;
    height: 400px;
}

.flex {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon i {
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    width: 100%;
}

.container-service h2 {
    text-align: center;
    position: relative;
    top: 20px;
}
  
.box-service {
    text-align: center;
    color: black;
    margin: 5px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
    flex: 1;
    overflow-y: auto;
}

/* LOGIN */

.cont-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border: 1px solid white;
    background: white;
    padding: 50px 30px;
}

.cont-form h2 {
    text-align: center;
    margin-bottom: 10px;
}

form input[type=text] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

form input[type=submit] {
    width: 120px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    border: 1px;
    background: black;
}

footer {
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
}

.footer {
    text-align: center;
} 


@media screen and (max-width: 860px) {
    .background {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 600px;
    }
}